<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href=".css">
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

<link rel="stylesheet" href="style.css">
<title>Form usuario</title>
</head>

<body>

<div th:replace="indexInicial :: navBarPublico"></div>

<h1 id="hh1">Formulario de registro: </h1>

<form>
  <div>
    <label id="label-usuario">Alias: </label>
    <input id="input-usuario" type="text" th:value="${alias}">
  </div>
  <div>
    <label id="label-usuario">Sexo: </label>
    <select class="form-control" th:field="*{Sexo}">
     <option id="input-usuario" th:each="Sexo : ${T(com.attacomsian.runner.domains.constants.Topic).values()}" th:value="${Sexo}" th:text="${Sexo}">Seleccionar</option>
    </select>
  </div>  
  <div>
    <label id="label-usuario">E-mail: </label>
    <input id="input-usuario" type="email" th:value="${email}">
  </div>
  <div>
    <label id="label-usuario">País: </label>
    <select class="form-control" th:field="*{Pais}">
     <option id="input-usuario" th:each="Pais : ${T(com.attacomsian.runner.domains.constants.Topic).values()}" th:value="${Pais}" th:text="${Pais}">Seleccionar</option>
    </select>
  </div>
  <div>
    <label id="label-usuario">Fecha de Nacimiento: </label>
    <input id="input-usuario" type="date" th:value="${nacimiento}">
  </div> 
  <div>
    <label id="label-usuario">Clave: </label>
    <input id="input-usuario" type="password" th:value="${clave}">
    <div class="form-text">Condiciones para la clave.</div>
  </div>
  <div>
    <label id="label-usuario">Confirmar Clave: </label>
    <input id="input-usuario" type="password" th:value="${claveValidar}">
  </div>

  <button class="btn btn-primary" type="submit" id="btn-usuario" href="#">Guardar</button>
</form>

<div th:replace="IndexIniciado :: footer"></div>

</body>
</html>

