<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <title>INDEX INICIAL</title>
</head>

<body>
    <div th:fragment="navBarPublico">  
     
        <nav class="nav">
           <a class="navbar-brand" id="nav-logo"  href="#">
                <img src="https://drive.google.com/uc?export=download&id=1NCoNyhyGOZLjZlD187jCdu9aYntNhV68" width="160">
              </a>
            
            <a class="nav-link"  href="#">Registro</a>
            <a class="nav-link" href="#">Log In</a>
            <a class="nav-link" href="#">Preguntas Frecuentes</a>
        
        </nav>
        </div>

    <p></p>
    <div>
        <div id="logo">
        <img src="https://drive.google.com/uc?export=download&id=1gO6ZP9ngr8VEby5HMTVN4vhDGpMSchvy" width="500" height=auto/>
        </div>
        <div>
            <p> Las estidísticas forman un papel importante en nuestras vidas, no solo para resolver dudas entre amigos, 
                como cuanta gente elige el frio o el calor, sino que nos puede ayudar en nuestros proyectos personales, cuantificando
                la realidad para tomar mejores decisiones. 
                Con A MOVER LA  QUERY! vas a poder lograrlo de manera muy facil! </p>
        </div>
    </div>
    <br>
    <div>
        <h1 id="hh1"> QUERY´S MÁS VOTADAS</h1>
        <table class="table text-center">
            <thead class="fw-bold">
                <tr>
                <th scope="col">Puesto</th>
                <th scope="col">Query</th>
            </tr>
            </thead>
                    
            <tbody class="fw-bold">                        
                <tr th:each="query:${querys}">
                <td> #1 </td> <!-- Falta averiguar la consulta para que aparezcan las 5 mas votadas(desde tim)--> 
                <td th:text="${query.titulo}"> Titulo </td> 
               </tr>
               <tr th:each="query:${querys}">
                <td> #2</td> 
                <td th:text="${query.titulo}"> Titulo </td>
               </tr>
               <tr th:each="query:${querys}">
                <td> #3 </td> 
                <td th:text="${query.titulo}"> Titulo </td>
               </tr>
               <tr th:each="query:${querys}">
                <td> #4 </td> 
                <td th:text="${query.titulo}"> Titulo </td>
               </tr>
               <tr th:each="query:${querys}">
                <td> #5 </td> 
                <td th:text="${query.titulo}"> Titulo </td>
               </tr>
            </tbody>        
            </table>
        

    </div>
    <div th:replace="IndexIniciado :: footer"></div>

        
</body>

</html>