<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <title>Index sesión Iniciada</title>
    <link rel="icon" type="icon/png" sizes=""href="assets/favicon.png">
</head>


<body>

 <!-- <div th:fragment="navBarInicio"> --> 
  <nav class="nav">
    <a class="navbar-brand" id="nav-logo"  href="#">
         <img src="https://drive.google.com/uc?export=download&id=1NCoNyhyGOZLjZlD187jCdu9aYntNhV68" width="160">
       </a>
     
     <a class="nav-link"  href="#">Mi cuenta</a>
     <a class="nav-link" href="#">Mis Query's</a>
     <a class="nav-link" href="#">Preguntas Frecuentes</a> 
 </nav>
<!-- </div> -->

<div> 

  <div id="logo">
    <img src="https://drive.google.com/uc?export=download&id=1kp0e1e4Z0jUJNHPLR_Mi21QL7Byls9Gp" width="700" height=auto/>
    </div>

<div> <!--Crear una nueva Query -->
<h1 id="hh1">Crear nueva Query</h1>
<button class="btn btn-primary" href="#" role="button" id="btnIndex">Click acá</button>
</div>

<div><!--Ranking-->
<h2 id="hh2"> Ranking de las 5 Query's mas votadas: </h2>

<table class="table" id="table-ranking">
    <thead id="head-ranking">
    <tr>
        <th scope="col"> Puesto </th>
        <th scope="col"> Query </th>
    </tr>
    </thead>

    <tbody id="body-ranking">
      <tr>
        <th scope="row"> #1 </th>
        <td th:each="query:${querys}"> Query </td><!-- consulta para que muestre los primeros 5 resultados -->
      </tr>
      <tr> 
        <th scope="row"> #2 </th>
        <td th:each="query:${querys}"> Query </td>
      </tr>
      <tr>
        <th scope="row"> #3 </th>
        <td th:each="query:${querys}"> Query </td>
      </tr>
      <tr>
        <th scope="row"> #4 </th>
        <td th:each="query:${querys}"> Query </td>
      </tr>
      <tr>
        <th scope="row"> #5 </th>
        <td th:each="query:${querys}"> Query </td>
      </tr>
    </tbody>
  </table>
</div>


<div th:fragment="footer">
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a>
            <img src="https://drive.google.com/uc?export=download&id=1NCoNyhyGOZLjZlD187jCdu9aYntNhV68" width="160"
              class="imagen-footer">
          </a>
        </figure>
        <br>
        <div class="grupo-2">
          <a> &copy;2022 A MOVER LA QUERY!</a>
          <br>
          <a>Todos los Derechos Reservados</a>

        </div>
      </div>
  </footer>
</div>

</body>
</html>