<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>\\LOGIN EXITOSO//</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">
    <link rel="icon" type="icon/png" sizes=""href="assets/favicon.png">
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <nav class="nav">
            <a class="navbar-brand" id="nav-logo"  href="#">
                 <img src="https://drive.google.com/uc?export=download&id=1NCoNyhyGOZLjZlD187jCdu9aYntNhV68" width="160">
               </a>
             
             <a class="nav-link"  href="#">Mi cuenta</a>
             <a class="nav-link" href="#">Mis Query's</a>
             <a class="nav-link" href="#">Preguntas Frecuentes</a> 
         </nav>
        <div>//LOGIN EXITOSO\\</div>
        
        
        <h2 th:if="${session.usuariosession != null}" th:text="${'¡BIENVENIDO: ' + session.usuariosession.alias + '!'}"></h2>
        
        <a class="btn btn-link" th:href="@{/encuesta/crearEnc(id=${session.usuariosession.id})}"> Crear Encuesta</a>
        
        
        <br><br>
        <form action="/usuario/edicion">
            <input type="hidden" name="id" th:value="${session.usuariosession.id}">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Editar Perfil</button>
        </form>        
        <form action="/logout" method="post"><button type="submit" class="btn btn-link navbar-btn navbar-link">Cerrar Sesión</button></form>
        <form action="/encuesta/listar" >
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Ver Encuestas</button>
        </form>
    </body>
</html>
