.layout{
    width: 600px;  
}
.accordion{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.accordion__pregunta p{
    margin: 5px;
    padding: 0;
}
.accordion__respuesta p{
    margin: 5px;
    padding: 10px;
}
.accordion:hover{
    cursor: pointer;
}
.accordion__respuesta {
    display: none;
} 
.accordion.active .accordion__respuesta {
    display: block;
}
