<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
  <title>QUERY A VOTAR</title>
</head>

<body>
  <div th:replace="perfil :: navBarInicio"></div>

  <br>
  <h1 th:text="${query.titulo}">Titulo</h1>
  <input type="radio" th:value="${opcion1}"> Opción 1 
  <input type="radio" th:value="${opcion2}"> Opción 2
 <br>
  <button type="button" class="btn btn-link">A MOVER LA QUERY!</button>
<br>
<footer>
  <div th:replace="logIn :: footer"></div>

  
</body>

</html>