<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <title>Querys votadas</title>
</head>
<body>
    <div th:replace="perfil :: navBarInicio"></div>
        <div>
      <h1> MIS QUERY´S</h1>
      <thead class="fw-bold">
        <tr>
        <th scope="col">Query</th>
    </tr>
    </thead>
            
    <tbody class="fw-bold">                        
        <tr th:each="query:${querys}"> 
        <td th:text="${query.titulo}"> <a th:href=""> Título </a></td> 
       </tr>
    </tbody>        
    </table>
</div>
<div th:replace="logIn :: footer"></div>

        
</body>
</html>