:root{

/* CSS HEX */
--outer-space-crayola: #2b3a40ff;
--hot-pink: #ff65a8ff;
--atomic-tangerine: #ff996aff;
--jasmine: #fddb7cff;
--dutch-white: #f1e6c3ff;
--amber: #ffbe0bff;
--orange-pantone: #fb5607ff;
--winter-sky: #ff006eff;
--blue-violet: #8338ecff;
--azure: #3a86ffff;

/* SCSS Gradient */

--gradient-top: linear-gradient(0deg, #2b3af1e6c3ff40ff, #);
--gradient-right: linear-gradient(90deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-bottom: linear-gradient(180deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-left: linear-gradient(270deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-top-right: linear-gradient(45deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-bottom-right: linear-gradient(135deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-top-left: linear-gradient(225deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-bottom-left: linear-gradient(315deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-radial: radial-gradient(#2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);

/*font-family: 'Monoton', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;*/
}

body{
    background-image: url("https://drive.google.com/uc?export=download&id=1c22JmtLntTWUY-TzqjiZqJAcLRdBBX1e");
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
    
}

#hh1{
    color: var(--amber);
    text-shadow: var(--winter-sky);
    font-family: 'Righteous', cursive;
    text-align: center;
    
}
.nav {
    background: linear-gradient(90deg, rgba(64,37,82,1) 0%, rgba(255,239,195,1) 100%);
    display: flex;
    color: var(--winter-sky);
}

#nav-logo{
    text-align: left;
    margin-right: 55%;
    padding-top: 5px;
    
  
}

.nav-link {
    text-align: right;
    margin-left: 0;
    padding: 19px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Righteous', cursive;
    text-align: justify;
    margin: 5%;

}

