:root{

/* CSS HEX */
--outer-space-crayola: #2b3a40ff;
--hot-pink: #ff65a8ff;
--atomic-tangerine: #ff996aff;
--jasmine: #fddb7cff;
--dutch-white: #f1e6c3ff;
--amber: #ffbe0bff;
--orange-pantone: #fb5607ff;
--winter-sky: #ff006eff;
--blue-violet: #8338ecff;
--azure: #3a86ffff;

/* SCSS Gradient */

--gradient-top: linear-gradient(0deg, #2b3af1e6c3ff40ff, #);
--gradient-right: linear-gradient(90deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-bottom: linear-gradient(180deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-left: linear-gradient(270deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-top-right: linear-gradient(45deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-bottom-right: linear-gradient(135deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-top-left: linear-gradient(225deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-bottom-left: linear-gradient(315deg, #2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
--gradient-radial: radial-gradient(#2b3a40ff, #ff65a8ff, #ff996aff, #fddb7cff, #f1e6c3ff, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);

/*font-family: 'Monoton', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;*/
}

body{
    background-image: url("https://drive.google.com/uc?export=download&id=16XApxKWDAbuHVsoONOrYG8J-gnilGbi3");
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment:scroll;
    background-size: cover;
}

#hh1{
    color: var(--blue-violet);
    text-shadow: 2px 2px 2px var(--winter-sky);
    font-size: 80px;
    font-family: 'Righteous', cursive;
    text-align: center;
    
}

.nav {
    background: linear-gradient(90deg, rgba(64,37,82,1) 0%, rgba(255,239,195,1) 100%);
    display: flex;
    color: var(--winter-sky);
}

#nav-logo{
    text-align: left;
    margin-right: 53%;
    padding-top: 5px;
    
  
}

.nav-link {
    text-align: right;
    font-size: 17px;
    margin-left: 0;
    padding: 20px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    
}

.nav-link:link{
    color: var(--blue-violet);
}
.nav-link:hover{
    color:var(--orange-pantone);
}
.nav-link:active{
    color:var(--winter-sky);
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Righteous', cursive;
    text-align: justify;
    margin: 5%;
}

.layout{
    width: 600px;  
}
.accordion{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.accordion__pregunta p{
    margin: 5px;
    padding: 0;
}
.accordion__respuesta p{
    margin: 5px;
    padding: 10px;
}
.accordion:hover{
    cursor: pointer;
}
.accordion__respuesta {
    display: none;
} 
.accordion.active .accordion__respuesta{
    display: block;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

#btnIndex{
    background-color: var(--orange-pantone);
    box-shadow: rgba(43,58,64, 0.7) 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    width: 150px;
    height: 75px;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    color: var(--dutch-white);
    margin-left: 50%;
    transform: translateX(-50%);
   

}

#btnIndex:hover{
    background-color:var(--winter-sky);
    color: var(--hot-pink);
}



#btnIndex:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: rgba(43,58,64, 0.7) 0px 0px 0px;
    background-color: var(--hot-pink);
    color: var(--winter-sky);
    margin-left: 50%;
    transform: translateX(-46%);

    
}

.form-usuario{
    
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;
    }
    
    .form_group{
        position: relative;
        padding: 15px 0 0;
        width: 50%;
    }
    
    .form_field{
        font-family: 'Pacifico', cursive;
        width: 100%;
        border:0;
        border-bottom: 2px solid var(--outer-space-crayola);
        outline: 0;
        font-size: 1.3rem;
        color: #fff;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    
    }
    
    .form_field::placeholder{
        color: transparent;
    }
    
    .form_label{
        position: absolute;
        top: 0;
        display: block;
        transition:0.2s;
        font-size: 1rem;
        color: var(--outer-space-crayola);
    }
    
    .form_field:placeholder-shown ~ .form_label{
        font-size: 1.3rem;
        cursor: text;
        top:20px;
    
    }
    .form_field:focus{
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, var(--azure), var(--winter-sky));
        border-image-slice: 1;
    } 
    
    .form_field:focus ~ .form_label{
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--blue-violet);
        font-weight: 700;
    
    }

    .form-text, .form-check{
        color: var(--outer-space-crayola);
    }

   
/* FOOTER */
.pie-pagina {
    width: 100%;
}
.pie-pagina .grupo-1{
    width: 100%;
   
    line-height: 5px;
    text-align: center;
    vertical-align: middle;
}
.pie-pagina .grupo-2{
    width: 100%;
   font-size: 10px;
   font-family: 'Righteous', cursive;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    
}

.check{
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#input{ position: absolute; transform: scale(0);}

#input:checked ~ .checkbox{
    transform: rotate(45deg);
    width: 10px;
    margin-left:16px;
    border-color: var(--winter-sky);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox{
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid var(--outer-space-crayola);
    border-radius:6px;
    transition: all 0.375s;
}

